---
---

<div class="w-full h-[100vw] lg:h-full min-h-[400px] overflow-hidden" id="map-container">
    <div id="leaflet-map" class="w-full h-full"></div>
</div>

<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""
/>

<script is:inline src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const entrance = [23.977971, -104.681496];
        const venue = [23.973741, -104.679653];

        const map = L.map("leaflet-map", {
            center: [(entrance[0] + venue[0]) / 2, (entrance[1] + venue[1]) / 2],
            zoom: 17,
            scrollWheelZoom: false,
        });

        L.tileLayer("https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png", {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OSM</a> &copy; <a href="https://carto.com/">CARTO</a>',
            subdomains: "abcd",
            maxZoom: 20,
        }).addTo(map);

        const markerIcon = L.divIcon({
            className: "",
            html: '<div style="width:12px;height:12px;background:#000;border-radius:50%;border:2px solid #fff;box-shadow:0 0 4px rgba(0,0,0,0.4)"></div>',
            iconSize: [12, 12],
            iconAnchor: [6, 6],
        });

        const venueIcon = L.divIcon({
            className: "",
            html: '<div style="width:16px;height:16px;background:#000;border-radius:50%;border:3px solid #fff;box-shadow:0 0 6px rgba(0,0,0,0.5)"></div>',
            iconSize: [16, 16],
            iconAnchor: [8, 8],
        });

        L.marker(entrance, { icon: markerIcon })
            .addTo(map)
            .bindPopup("<b>Entrada</b><br>Fraccionamiento Las Calzadas");

        L.marker(venue, { icon: venueIcon })
            .addTo(map)
            .bindPopup("<b>Evento</b><br>Los Duraznos 119");

        const routeCoords = [
            [23.977991,-104.681515],[23.977773,-104.680749],[23.977292,-104.680936],
            [23.976421,-104.681292],[23.975966,-104.681476],[23.975452,-104.681704],
            [23.975448,-104.681706],[23.974954,-104.681909],[23.97479,-104.681977],
            [23.974715,-104.682007],[23.97468,-104.681913],[23.974595,-104.681631],
            [23.974464,-104.681199],[23.974313,-104.680718],[23.974285,-104.680617],
            [23.974287,-104.680519],[23.97418,-104.680182],[23.974103,-104.680214],
            [23.973967,-104.679839],[23.973856,-104.67955],[23.973724,-104.679607],
        ];

        L.polyline(routeCoords, {
            color: "#000",
            weight: 4,
            opacity: 0.8,
        }).addTo(map);
        map.fitBounds(L.polyline(routeCoords).getBounds(), { padding: [40, 40] });
    });
</script>
